<template>
    <v-card class="elevation-12">
        <v-toolbar
          color="primary"
          dark
          flat
        >
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer />
      
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field v-model="customerObj.name" label="Nome"></v-text-field>
            <v-text-field v-model="customerObj.email" label="Email"></v-text-field>
            <v-text-field v-model="customerObj.phone" label="Telefone"></v-text-field>
            <v-text-field v-model="customerObj.cpf" label="CPF"></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn v-show="dialogType === 'CREATE'" @click="submitCreate" color="primary">Create</v-btn>
          <v-btn v-show="dialogType === 'EDIT'" @click="submitEdit" color="primary">Edit</v-btn>
          <v-btn v-show="dialogType === 'REMOVE'" @click="submitRemove" color="primary">Remove</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'customerDialog',
    props: ['dialogType', 'customerObj'],
    data: () => ({
      dialogTitle: '',
      search: null,
      isLoading: false,
      model: null,
      entries: []
    }),
    computed: {
      currentType () {
        return this.$props.dialogType
      },
      title () {
        return this.$props.dialogType === 'CREATE' ? 'Adicionar cliente' :
              this.$props.dialogType === 'EDIT' ? 'Editar cliente' :
              this.$props.dialogType === 'REMOVE' ? 'Desativar cliente' : ''
      },
    },
    items () {
        return this.entries.map(entry => {
          const Name = entry.name

          return Object.assign({}, entry, { Name })
        })
      },
    methods: {
      submitCreate () {
        const newLab = {
          name: this.$props.customerObj.name,
          email: this.$props.customerObj.email,
          phone: this.$props.customerObj.phone,
          cpf: this.$props.customerObj.cpf,
        }
        console.log(newLab)
        axios.post(`https://quali-back.herokuapp.com/customer/`, newLab).then(() => {
          
          this.$props.customerObj.name = ''
          this.$props.customerObj.email = ''
          this.$props.customerObj.phone = ''
          this.$props.customerObj.cpf = ''
          this.$emit('dialog-event')
        })
      },
      submitEdit () {
        const customerId = this.$props.customerObj._id
        const updatedCustomer = {
          name: this.$props.customerObj.name,
          email: this.$props.customerObj.email,
          phone: this.$props.customerObj.phone,
          cpf: this.$props.customerObj.cpf
        }
        console.log('updated name', updatedCustomer.name)
        axios.put(`https://quali-back.herokuapp.com/customer/${customerId}`, updatedCustomer).then(() => {
          
          this.$props.customerObj.name = ''
          this.$props.customerObj.email = ''
          this.$props.customerObj.phone = ''
          this.$props.customerObj.cpf = ''
          this.$emit('dialog-event')
        })
      },
      submitRemove () {
        const customerId = this.$props.customerObj._id

        axios.delete(`https://quali-back.herokuapp.com/customer/${customerId}`).then(() => {
          this.$props.customerObj.name = ''
          this.$props.customerObj.email = ''
          this.$props.customerObj.phone = ''
          this.$props.customerObj.cpf = ''
          this.$emit('dialog-event')
        })
      }
    }
  }
</script>
