<template>
  <v-app id="sandbox">
    <v-app-bar
      app
    >
      <v-toolbar-title>Teste Qualicorp</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-dialog v-model="customerDialogOpen">
        <customer-dialog 
          v-on:dialog-event="customerDialogClosed"
          v-bind:dialog-type="customerDialogType" 
          v-bind:customerObj="currentCustomer" 
          >
        </customer-dialog>
      </v-dialog>
      <v-container fluid>
        <v-row>

          <v-col cols="12">
            <v-card>
              <v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    md="12"
                  >
                    <span>Clientes</span>
                    
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Nome</th>
                            <th class="text-left">Email</th>
                            <th class="text-left">Telefone</th>
                            <th class="text-left">CPF</th>
                            <th class="text-left">Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item in customerList" v-bind:key="item._id">
                            <td>{{ item.name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.cpf }}</td>
                            <td>
                              <v-row
                                align="center"
                                justify="center"
                              >
                                <v-icon
                                  large
                                  @click="editCustomer(item)">
                                  {{ icons.mdiPencil }}
                                </v-icon>
                                <div class="mx-2"></div>
                                <v-icon                                  large
                                  @click="deactivateCustomer(item)">
                                  {{ icons.mdiDelete }}
                                </v-icon>
                                <div class="mx-2"></div>
                              </v-row>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>

                    <v-btn
                      @click="createCustomer"
                      text
                      color="primary"
                    >Adicionar Cliente</v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-footer
      app
    >
      <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
  import axios from 'axios'
  import customerDialog from './components/CustomerDialog'
  import {
    mdiAccount,
    mdiPencil,
    mdiShareVariant,
    mdiDelete,
  } from '@mdi/js'

  export default {
    components: { customerDialog },
    data: () => ({
      customerDialogOpen: false,
      customerDialogType: 'CREATE',
      customerList: [],
      currentCustomer: {
        name: '',
        email: '',
        phone: '',
        cpf: ''
      },
      icons: {
        mdiAccount,
        mdiPencil,
        mdiShareVariant,
        mdiDelete,
      },
    }),
    mounted () {
      axios.get('https://quali-back.herokuapp.com/customer').then((res) => {
        console.log(res.data)
        this.$data.customerList = res.data
      })
    },
    methods: {
      customerDialogClosed () {
        axios.get('https://quali-back.herokuapp.com/customer').then((res) => {
          this.$data.customerList = res.data
          this.$data.customerDialogOpen = !this.$data.customerDialogOpen
        })
      },
      editCustomer (item) {
        this.$data.customerDialogType = 'EDIT'
        this.$data.currentCustomer = { ...item }
        this.$data.customerDialogOpen = true
      },
      deactivateCustomer (item) {
        this.$data.customerDialogType = 'REMOVE'
        this.$data.currentCustomer = item
        this.$data.customerDialogOpen = true
      },
      createCustomer () {
        this.$data.customerDialogType = 'CREATE'
        this.$data.currentCustomer = { name: '', type: '', associatedLabs: [] }
        this.$data.customerDialogOpen = true
      },
    },
  }
</script>